h1, h2, h3, h4, h5, h6, p {
	clear: both;
	font-family: $font__main;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.75rem;
	font-weight: 700;
	margin-bottom: 1.75rem;
}

h3 {
	font-size: 1.75rem;
	font-weight: 900;
	margin-bottom: 1rem;
}