.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	//Custom
	font-family: $font__main;
	font-weight: 700;
	text-transform: uppercase;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		padding: .5rem;
		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

//Custom Mobile Menu
@media screen and (max-width: 769px) {
	.menu-toggle {
		z-index: 9999;
		position: relative;
	}
	.main-navigation.toggled #primary-menu {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		background: black;
		z-index: 9998;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.main-navigation.toggled ul {		
		text-align: center;
		li {
			float: none;
		}
	}
}

// @media screen and (min-width: 37.5em)
@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
