/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before,
    &::after {
        display: none;
    }
    padding: 1rem;
}

#page.site {
    // padding-left: 200px;
}

.header-icon {
    svg {
        height: 60px;
    }
}