/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

header.site-header {
    width: 200px;
    position: fixed;
    min-height: 100vh;
    left: 0;
    top: 0;
}

#page.site {
    padding-left: 200px;
}

.header-icon {
    width: 40px;
    height: 60px;
    margin: 1.5rem auto 2rem 1.5rem;
    svg {
        height: 100%;
    }
}

a.header-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 700;
    padding: .75rem 1.5rem;
}