.sticky {
	display: block;
}

.post,
.page {
	// margin: 0 0 1.5em;
	margin: 0; //removed margin from bottom
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


//Custom Pages
.home-hero {
	min-height: 75vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	> * {
		width: 800px;
		margin: 0 auto;
	}
}
.home-hero__heading {
	font-size: 4rem;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 1;
}
.home-hero__subheading {
	font-size: 2.25rem;
	font-weight: 900;
	text-transform: uppercase;
}
.home-hero__link-text {
	display: inline-block;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.link-text {
	font-size: 1rem;
	font-weight: 900;
	text-transform: uppercase;
	&::after {
		content: '\25ba';
		padding-left: 0.5em;
	}
}
// .page-template-template-home {
// 	// background: url('/wp-content/themes/undertopher/img/svg/cr-logo-outline.svg') no-repeat 75% 80px / 360px auto;
// 	#content.site-content {
// 		min-height: 100vh;
// 		display: flex;
// 		align-items: center;
// 	}
// }
// #section-home-hero {
// 	padding: 8rem 0;
// }
// #section-home-contact {
// 	color: white;
// 	background: #231F20;
// 	padding: 8rem 0;
// }







// //Gutenberg Block Content
// .entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
//     max-width: 70rem;
// 	width: calc(100% - 4rem);
// 	margin: auto;
// }

// .alignfull {
//     margin-top: 5rem;
//     margin-right: auto;
//     margin-bottom: 5rem;
//     margin-left: auto;
//     max-width: 100vw;
//     position: relative;
//     width: 100%;
// }

// [class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
//     max-width: 70rem;
//     width: 100%;
// }

// [class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright) {
//     margin-left: auto;
//     margin-right: auto;
// }

// .wp-block-media-text .wp-block-media-text__content {
//     padding: 3rem 2rem;
// }

// .wp-block-archives:not(.alignwide):not(.alignfull), 
// .wp-block-categories:not(.alignwide):not(.alignfull), 
// .wp-block-code, .wp-block-columns:not(.alignwide):not(.alignfull), 
// .wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// .wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// .wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// .wp-block-group:not(.has-background):not(.alignwide):not(.alignfull), 
// .wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// .wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright), 
// .wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright), 
// .wp-block-media-text:not(.alignwide):not(.alignfull), 
// .wp-block-preformatted, 
// .wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright), 
// .wp-block-quote, .wp-block-quote.is-large, 
// .wp-block-quote.is-style-large, 
// .wp-block-verse, 
// .wp-block-video:not(.alignwide):not(.alignfull) {
// 	margin-bottom: 3rem;
// 	margin-top: 3rem;
// }

// @media (min-width: 700px) {
// 	.wp-block-archives:not(.alignwide):not(.alignfull), 
// 	.wp-block-categories:not(.alignwide):not(.alignfull), 
// 	.wp-block-code, .wp-block-columns:not(.alignwide):not(.alignfull), 
// 	.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// 	.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// 	.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// 	.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull), 
// 	.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter), 
// 	.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright), 
// 	.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright), 
// 	.wp-block-media-text:not(.alignwide):not(.alignfull), 
// 	.wp-block-preformatted, 
// 	.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright), 
// 	.wp-block-quote, .wp-block-quote.is-large, 
// 	.wp-block-quote.is-style-large, 
// 	.wp-block-verse, 
// 	.wp-block-video:not(.alignwide):not(.alignfull) {
// 		margin-bottom: 4rem;
// 		margin-top: 4rem;
// 	}	
// }